.display-dialog-core {
  --dialog-border: 0.1rem solid light-dark(var(--gray-8), var(--gray-0));
  --dialog-outline: 0.1rem solid light-dark(var(--gray-8), var(--gray-0));
  --dialog-border-radius: 0.4rem;

  --dialog-inner-background: light-dark(var(--gray-0), var(--gray-9));

  /*
  * Header styles
  */
  --dialog-header-padding: 0 1.2rem;

  --dialog-header-button-margin: 0;
  --dialog-header-button-padding: 0.4rem;
  --dialog-header-button-border-radius: 50%;

  --dialog-header-button-border: 1px solid light-dark(var(--gray-8), var(--gray-0));
  --dialog-header-button-outline: 1px solid transparent;

  --dialog-header-button-border-hover: 1px solid light-dark(var(--gray-8), var(--gray-0));
  --dialog-header-button-outline-hover: 1px solid light-dark(var(--gray-8), var(--gray-0));

  --dialog-header-button-icon-color: light-dark(var(--gray-8), var(--gray-0));
  --dialog-header-button-icon-font-size: 1.4rem;

  /*
  * Header styles
  */
  --dialog-content-padding: 1.2rem;

  /*
  * Footerer styles
  */
  --dialog-footer-padding: 1.2rem;
}
