:root {
  --tabs-panel-border: 1px solid light-dark(var(--gray-3), var(--gray-6));
  --tabs-panel-border-radius: 4px;
  --tabs-panel-mbe: 1.6rem;

  --accordion-trigger-bg: light-dark(var(--gray-3), var(--gray-6));
}
